/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

.btn-gradient {
  text-transform: uppercase;
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  line-height: 1.2;
  outline: 0;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  color: white;
  transition: all 0.5s;
}

.btn-gradient:hover {
  background-position: right center;
}

.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
  text-transform: capitalize;
}

.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-inner {
  padding-top: 115px;
}

/* END GLOBAL */

/* START HEADER */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #636363;
  line-height: 25px;
}

.header__content nav {
  display: flex;
  align-items: center;
}

.header__content ul {
  display: flex;
  margin-right: 35px;
}

.header__content ul li {
  list-style: none;
  text-transform: capitalize;
  padding: 55px 15px;
}

.header__content ul li a {
  text-decoration: none;
  color: #070120;
  font-size: 15px;
  font-weight: 500;
}

.header__content li:hover a {
  color: #f55f8d;
}

.header__content a span {
  display: inline-block;
  transition: all 1s;
}

.header__content li:hover span {
  animation: upToDown 0.3s;
}

.header__content a i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
}

/* END HEADER */

/* START FREELANCE */

.freelance {
  background-image: url(./img/pic2.png);
  background-size: 100%;
  background-position: top;
  padding-top: 180px;
  overflow: hidden;
}

.freelance__content {
  display: flex;
  align-items: center;
}

.freelance__product {
  width: 60%;
  text-transform: capitalize;
}

.freelance__product .freelance__article p {
  font-size: 18px;
  margin-bottom: 15px;
}

.freelance__product .freelance__article ul {
  margin-bottom: 20px;
}

.freelance__product .freelance__article li {
  list-style: none;
  padding: 10px 5px 10px 0;
  font-size: 20px;
}

.freelance__product .freelance__article li i {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 35px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-right: 10px;
}

.freelance__picture {
  width: 40%;
}

.freelance__picture .freelance__banner {
  width: 570px;
  margin-left: 50px;
}

.freelance__picture img {
  width: 100%;
  display: block;
}

/* END FREELANCE */

/* START SERVICES */

.services {
  padding-bottom: 0;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.services__item {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 45px;
  transition: all 0.5s;
}

.services__item:hover {
  transform: translateY(-20px);
}

.services__item img {
  width: 215px;
}

.services__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}

/* END SERVICES */

/* START ABOUT US */

.aboutUs {
  background-image: url(./img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}

.aboutUs__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.aboutUs__left {
  width: 60%;
  position: absolute;
  left: -17%;
}

.aboutUs__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.aboutUs__right {
  width: 50%;
}

.aboutUs__article p {
  margin-bottom: 15px;
}

.aboutUs__article ul {
  margin-bottom: 30px;
}

.aboutUs__article li {
  list-style: none;
}

.aboutUs__article li i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}

/* END ABOUT US */

/* START NUMBER */

.number {
  background-image: url(./img/bg14.png);
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
  text-align: center;
}

.number__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number__item {
  width: 100%;
}

.number__item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
}

.number__item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}

.number__item p:last-of-type {
  color: #262626;
  font-size: 18px;
}

/* END NUMBER */

/* START FEATURES */

.features {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0;
  overflow: hidden;
}

.features__content {
  display: flex;
}

.features__left,
.features__right {
  width: 50%;
}

.features__item {
  padding: 0 50px 30px 0;
}

.features__item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}

.features__bg {
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.features__bg::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s;
}

.features__bg:hover::after {
  opacity: 1;
}

.features__bg i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}

.features__bg div {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.features__bg h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}

.features__bg:hover div,
.features__bg:hover h3,
.features__bg:hover i {
  color: #fff;
}

.features__banner {
  margin-right: -80px;
}

.features__right img {
  width: 100%;
  animation: move2 5s infinite;
}

/* END FEATURES */

/* START PORTFOLIO */

.portfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.portfolio__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio__item:hover::before {
  left: 125%;
}

.portfolio__item img {
  width: 100%;
  height: 100%;
}

.portfolio__item .portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}

.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}

.portfolio__item .portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}

.portfolio__item:hover .portfolio__icon {
  transform: translate(0);
}

.portfolio__item i {
  cursor: pointer;
}

.portfolio__item .portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}

.portfolio__item:hover .portfolio__text {
  transform: translateY(0);
}

.portfolio__item1 {
  grid-column: 1 / span 2;
}

.portfolio__item5 {
  grid-column: 1 / span 2;
}

.portfolio__item6 {
  grid-column: 3;
  grid-row: 2 / span 2;
}

/* END PORTFOLIO */

/* START PLAN */

.plan {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.plan__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}

.plan__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0, 0, 0, 0.1);
  border-image: 100 round;
  transition: all 0.5s;
}

.plan__item:hover {
  border-image: url(./img/br.png) 1 round;
}

.plan__item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}

.plan__item img {
  width: 125px;
}

.plan__item p,
.plan__item li {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}

.plan__item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}

.plan__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}

.plan__item li {
  padding: 5px 0;
  list-style: none;
  font-weight: 400;
}

.plan__item li i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}

/* END PLAN */

/* START TESTIMONIAL */

.testimonial {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial-content {
  width: 1199px;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: pink;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: auto;
}

.swiper-pagination-bullet-active {
  background: #f55f8d;
}

.testimonial-name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial-text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}

.testimonial-position {
  color: #f55f8d;
  margin-bottom: 20px;
}

/* END TESTIMONIAL */

/* START BLOG */

.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}

.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog__header {
  position: relative;
}

.blog__header img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.blog__header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.blog__footer p:first-of-type {
  margin-right: 20px;
}

.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: bottom;
}

.blog__footer p:first-of-type span {
  color: #f55f8d;
}

/* END BLOG */

/* START FOOTER */

footer {
  background-image: url(./img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(./img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
}

.footer__text,
.footer__form {
  width: 50%;
}

.footer__text h2 {
  font-size: 28px;
  color: #262626;
}

.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}

.footer__form input:focus,
.footer__form input:hover {
  border: 1px solid red;
}

.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  transition: all 0.5s;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}

.footer__form button:hover {
  background-position: right center;
}

.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__item {
  width: 100%;
}

.footer__item a {
  text-decoration: none;
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}

.footer__item li {
  list-style: none;
  padding: 0.5rem 0;
}

.footer__flex li {
  display: flex;
  align-items: center;
}

.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer__flex i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 50px;
}

.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer__item h3::before {
  width: 15px;
}

.footer__item h3::before,
.footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer__item h3::after {
  width: 45px;
  left: 20px;
}

.footer__item a:hover {
  color: #fff;
}

.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__left span {
  color: #f55f8d;
}

.footer__right a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}

.footer__right a:hover {
  background-color: #f55f8d;
}

/* END FOOTER */

/* START BACK TO TOP */

.backToTop {
  width: 50px;
  height: 50px;
  background: #f55f8d;

  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* END BACK TO TOP */

/* animate */

@keyframes upToDown {
  25% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  75% {
    opacity: 1;
  }
}

@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
